@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-height: 100vh;
  font-family: 'Poppins', sans-serif;
  /* changes here */
}

/*  ------------------- Scroll Bar -------------------  */

::-webkit-scrollbar {
  width: 11px;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  width: 100%;
  background: #282f4e;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background: #454f6b;
}

/*  ------------------- NavBar -------------------  */

.Navbar header {
  /* position: sticky; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s ease;
  padding: 40px 100px;
  z-index: 1000;
  background: #000;
  /* height: calc(5rem + 1rem); */
  /* Changes here */
}

.Navbar header.sticky {
  padding: 5px 100px;
  background: rgb(225, 221, 221);
}

.Navbar header.sticky .logo,
.Navbar header.sticky ul li a {
  color: #000;
}

.Navbar header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

.Navbar header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Navbar header ul li {
  position: relative;
  list-style: none;
  transition: 0.6s;
}

.Navbar header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}

.NavbarToggleMenu {
  display: none;
}

@media (max-width: 991px) {
  .Navbar header {
    padding: 20px 40px;
  }

  .Navbar header ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(to left bottom, #44474e, #36353b, #272528, #181617, #000000); */
    background-image: radial-gradient(circle, #dadada, #acacac, #808080, #565656, #303030);
    z-index: 100;
    transition: 0.6s;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .Navbar header ul.active {
    display: flex;
  }

  .Navbar header ul li a {
    /* position: relative; */
    margin: 0 15px;
    text-decoration: none;
    color: rgb(47, 47, 47);
    letter-spacing: 2px;
    font-size: 35px;
    transition: 0.6s;
    /* margin-left: 0; */

  }

  .Navbar .NavbarToggleMenu {
    display: flex;
    position: fixed;
    right: 20px;
    /* right: 3%; */
    color: #fff;
    background-position: center;
    cursor: pointer;
    z-index: 101;
  }

  .Navbar header.sticky .NavbarToggleMenu {
    color: #000;
  }
}

/*  ------------------- Search Bar -------------------  */
.SearchBar {
  position: relative;
  width: 100%;
  max-width: 700px;
  height: 60px;
  background: rgba(179, 179, 179, 0.2);
  display: flex;
  align-items: center;
  border-radius: 40px;
  padding: 3px 15px;
  backdrop-filter: blur(4px) saturate(180%);
}

.SearchBar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 0px 20px;
  font-size: 20px;
  color: #9c9a9a;
}

.SearchBar input::placeholder {
  color: #9c9a9a;
}

.SearchBar button {
  border: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #6b6b6b;
  cursor: pointer;
}

.SearchBar button .SearchButtonImg {
  font-size: 30px;
}

.Navbar header.sticky .SearchBar {
  background: rgba(112, 112, 112, 0.7);
}

.Navbar header.sticky .SearchBar input,
.Navbar header.sticky .SearchBar input::placeholder {
  color: rgb(58, 58, 58);
}

@media (max-width: 991px) {
  .SearchBar {
    right: 5rem;
    max-width: 500px;
  }
}

@media (max-width: 771px) {
  .SearchBar {
    margin-left: 6rem;
    margin-right: 0.1em;
    width: 50px;
    height: 50px;
    background: #6b6b6b;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }

  .SearchBar input {
    display: none;
  }

  .SearchBar button {
    background: transparent;
  }
}

/*  ------------------- Footer -------------------  */

.Footer {
  /* position: relative;
  bottom: 0; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.Footer footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #111;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Footer footer .FooterContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.Footer footer .FooterContainer .FooterSection {
  margin-right: 30px;
}

.Footer footer .FooterContainer .FooterSection.AboutUs {
  width: 40%;
}

.Footer footer .FooterContainer h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

.Footer footer .FooterContainer h2:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}

.Footer footer p {
  color: #999;
}

.Footer .SocialMedia {
  margin-top: 20px;
  display: flex;
}

.Footer .SocialMedia li {
  list-style: none;
}

.Footer .SocialMedia li a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}

.Footer .SocialMedia li a:hover {
  background: #f00;
}

.Footer .QuickLinks {
  position: relative;
  width: 25%;
}

.Footer .QuickLinks ul li {
  list-style: none;
}

.Footer .QuickLinks ul li a {
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.Footer .QuickLinks ul li a:hover {
  color: #fff;
}

.Footer .Contact {
  width: calc(35% - 60px);
  margin-right: 0 !important;
}

.Footer .Contact .FooterInfo {
  position: relative;
}

.Footer .Contact .FooterInfo li {
  display: flex;
  margin-bottom: 16px;
}

.Footer .Contact .FooterInfo li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.Footer .Contact .FooterInfo li span {
  color: #999;
}

.Footer .Contact .FooterInfo li a {
  color: #999;
  text-decoration: none;
}

.Footer .Contact .FooterInfo li a:hover {
  color: #fff;
}

.Footer .FooterCopyRight {
  width: 100%;
  background: #181818;
  padding: 8px 100px;
  text-align: center;
  color: #999;
}

@media (max-width: 991px) {
  .Footer footer {
    padding: 40px;
  }

  .Footer footer .FooterContainer {
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
    flex-direction: column;
  }

  /* .Footer footer .FooterContainer {
    flex-direction: column;
  } */

  .Footer footer .FooterContainer .FooterSection {
    margin-right: 0;
    margin-bottom: 6px;
  }

  .Footer footer .FooterContainer .FooterSection.AboutUs {
    width: 100%;
  }

  .Footer .QuickLinks {
    position: relative;
    width: 100%;
  }

  .Footer .Contact {
    width: 100%;
    margin-right: 0 !important;
  }

  /* .Footer footer .FooterContainer .FooterSection.FooterSection.AboutUs,
  .QuickLinks,
  .Contact {
    width: 100%;
  } */

  .Footer .FooterCopyRight {
    padding: 8px 40px;
  }
}


/*  ------------------- Carousel Silder -------------------  */

.Carousel {
  margin-top: 8%;
  min-height: 100vh;
  position: relative;
}

.Carousel .swiper {
  width: 100%;
  height: 100%;
}

.Carousel .swiper-slide {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.Carousel .swiper-slide img {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  pointer-events: none;
}

/* @media (max-width: 991px) {
  .Carousel{
    min-height: 50vh;
  }
  .Carousel .swiper-slide img,
  .Carousel .swiper-slide{
    height: 40vh;
  }
} */

.Carousel .swiper-slide .swiperTextContent {
  position: absolute;
  top: 25%;
  color: #fff;
  margin: 0 200px;
  transition: 0.3s ease;
  left: 0;
}

.Carousel .swiper-slide .swiperTextContent .darkLayer:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}

.Carousel .swiper-slide .swiperTextContent .swiperTextTitle {
  font-size: 3em;
  font-weight: 700;
  text-shadow: 0 5pc rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transform: translateY(-50px);
  opacity: 0;
}

.Carousel .swiper-slide-active .swiperTextContent .swiperTextTitle {
  transform: translateY(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.Carousel .swiper-slide .swiperTextContent .swiperTextTitle span {
  font-size: 0.4em;
  font-weight: 500;
}

.Carousel .swiper-slide .swiperTextContent p {
  max-width: 700px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  transform: translateX(-80px);
  opacity: 0;
}

.Carousel .swiper-slide-active .swiperTextContent p {
  transform: translateX(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.Carousel .swiper-slide .swiperTextContent .swiperContentBtn {
  border: none;
  outline: none;
  background: #fff;
  color: #000;
  font-size: 1em;
  font-weight: 500;
  padding: 8px 25px;
  display: flex;
  align-items: center;
  margin-top: 40px;
  bottom: 15px;
  border-radius: 10px;
  cursor: pointer;
  transform: translateX(50px);
  opacity: 0;
}

.Carousel .swiper-slide-active .swiperTextContent .swiperContentBtn {
  transform: translateX(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.Carousel .swiper-slide .swiperTextContent .swiperContentBtn .swiperContentBtnArrow {
  font-size: 1.6em;
  transition: 0.3s ease;
}

.Carousel .swiper-slide .swiperTextContent .swiperContentBtn:hover .swiperContentBtnArrow {
  transform: translateX(5px);
}

@media (max-width: 991px) {
  .Carousel {
    margin-top: 8%;
    max-height: 100vh;
    position: relative;
  }

  .Carousel .swiper-slide .swiperTextContent {
    margin: 0 70px 0 20px;
  }

  .Carousel .swiper-slide .swiperTextContent .swiperTextTitle {
    font-size: 2em;
  }

  .Carousel .swiper-slide .swiperTextContent .swiperTextTitle span {
    font-size: 0.45em;
  }

  .Carousel .swiper-slide .swiperTextContent p {
    font-size: 0.9em;
  }
}

/*  ------------------- Home Page -------------------  */

.Home {
  margin-bottom: 5%;
  max-height: fit-content;
}

.Home h2 {
  margin-top: 3rem;
  text-align: center;
  font-size: 30px;
}

.Home .List {
  position: relative;
  top: 0.6rem;
  width: 100%;
  max-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.Home .swiper {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  justify-content: space-between;
}

.Home .swiper-slide {
  display: flex;
  justify-content: center;
}

/*  ------------------- Home Item Card -------------------  */

.HomeItemCard {
  background-color: rgba(230, 230, 230, 0.5);
  box-shadow: 0 0 10px 3px #c1c1c1;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 18rem;
  min-height: 25rem;
  margin-top: 5%;
  margin-bottom: 5%;
  cursor: pointer;
}

.HomeItemCard .HomeItemCardImg {
  margin-top: 2px;
  object-fit: contain;
  height: 12rem;
}

.HomeItemCard .HomeItemCardBody {
  margin: 1rem;
  flex-grow: 1;
}

.HomeItemCard .HomeItemCardBody .HomeItemCardTitle {
  font-size: 1.6rem;
  line-height: 1.4rem;
  margin-bottom: 0.5rem;
}

.HomeItemCard .HomeItemCardBody .HomeItemCardDesc {
  line-height: 1.2rem;
}

.HomeItemCard .HomeItemCardBody .HomeItemCardPrice {
  font-size: 1.2rem;
  margin-top: 0.6rem;

}

.HomeItemCard .HomeItemCardBody .HomeItemCardBtn {
  border: none;
  border-top: 1px solid #e1e5ee;
  background-color: transparent;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  color: inherit;
  width: 100%;
  padding-top: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

.HomeItemCard .HomeItemCardBody .HomeItemCardBtn:hover {
  color: #0e48fe;
}

@media (max-width: 777px) {

  .Home .swiper .swiper-button-next,
  .Home .swiper .swiper-button-prev {
    display: none;
  }
}

/*  ------------------- Home Category Card -------------------  */

.CategoryCard {
  position: relative;
  max-width: 300px;
  height: 215px;
  background: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.CategoryCard:hover {
  height: 350px;
}

.CategoryCard .CategoryCardImg {
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);

}

.CategoryCard .CategoryCardImg .CategoryCardImgSrc {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.CategoryCard .CategoryCardContent {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.CategoryCard:hover .CategoryCardContent {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

/*  ------------------- Product Details Page -------------------  */

.ProductView {
  position: relative;
  margin: 8% 0;
  height: 90vh;
  width: 100%;
  padding: 30px;
}

.ProductView .ProductWrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px;
  height: 80vh;
  box-shadow: 2px 2px 20px 5px rgba(167, 167, 167, 0.5);
  min-height: fit-content;
  position: relative;
}

.ProductView .ProductWrapper .ProductImageView {
  position: relative;
  height: 100%;
  width: 45%;
}

.ProductView .ProductWrapper .ProductImageView .BuyAndCartBtns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 10px 0;
}

.ProductView .ProductWrapper .ProductImageView .BuyAndCartBtns Button {
  height: 3rem;
  width: 15rem;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  border-radius: 5%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ProductView .ProductWrapper .ProductImageView .BuyAndCartBtns .AddToCart {
  background: #ff9f00;
}

.ProductView .ProductWrapper .ProductImageView .BuyAndCartBtns .BuyNow {
  background: #fb641b;
}

.ProductView .ProductWrapper .ProductImageView .product-images-slider {
  width: 90%;
  height: 60%;
}

.ProductView .ProductWrapper .ProductImageView .product-images-slider .swiper-slide {
  text-align: center;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.ProductView .ProductWrapper .ProductImageView .product-images-slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ProductView .ProductWrapper .ProductImageView .product-images-slider-thumbs {
  width: 80%;
  height: 20%;
  position: absolute;
  margin: 5% 10%;
}

.ProductView .ProductWrapper .ProductImageView .product-images-slider-thumbs .swiper-slide {
  cursor: pointer;
  border-radius: 5%;
  border: 2px solid rgb(123, 123, 123);
}

.ProductView .ProductWrapper .ProductImageView .product-images-slider-thumbs .swiper-button-prev {
  color: #FFF;
}

.ProductView .ProductWrapper .ProductImageView .product-images-slider-thumbs .swiper-button-next {
  color: #FFF;
}

.ProductView .ProductWrapper .ProductImageView .product-images-slider-thumbs .swiper-slide-thumb-active {
  border-color: #000;
}

.ProductView .ProductWrapper .ProductImageView .product-images-slider-thumbs .swiper-slide img {
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ProductView .ProductWrapper .ProductContent {
  height: 70vh;
  width: 40vw;
  overflow: scroll;
}

.ProductView .ProductWrapper .ProductContent .ProductBrand {
  color: #878787;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
}

.ProductView .ProductWrapper .ProductContent .ProductTitle {
  font-size: 1.8rem;
  font-weight: 700;
}

.ProductView .ProductWrapper .ProductContent .ProductPrice {
  display: flex;
  align-items: center;
}

.ProductView .ProductWrapper .ProductContent .ProductPrice .NewPrice {
  font-size: 1.6rem;
  font-weight: 600;
}

.ProductView .ProductWrapper .ProductContent .ProductPrice .OldPrice {
  color: #878787;
  text-decoration: line-through;
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 10px;
}

.ProductView .ProductWrapper .ProductContent .ProductPrice .Offer {
  color: #26a541;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 10px;
}

.ProductView .ProductWrapper .ProductContent .ProductDetail {
  padding: 10px;
}

.ProductView .ProductWrapper .ProductContent .ProductDetail ul {
  list-style: none;
}