* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: rgb(94, 44, 44); */
  max-height: 100vh;
  /* changes here */
}

/*  ------------------- Scroll Bar -------------------  */

::-webkit-scrollbar {
  width: 11px;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  width: 100%;
  background: #282f4e;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background: #454f6b;
}

/*  ------------------- NavBar -------------------  */

.Navbar header {
  /* position: sticky; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s ease;
  padding: 40px 100px;
  z-index: 1000;
  background: #000;
  /* height: calc(5rem + 1rem); */
  /* Changes here */
}

.Navbar header.sticky {
  padding: 5px 100px;
  background: #fff;
}

.Navbar header.sticky .logo,
.Navbar header.sticky ul li a {
  color: #000;
}

.Navbar header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

.Navbar header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Navbar header ul li {
  position: relative;
  list-style: none;
  transition: 0.6s;
}

.Navbar header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}

.NavbarToggleMenu {
  display: none;
}

@media (max-width: 991px) {
  .Navbar header {
    padding: 20px 40px;
  }

  .Navbar header ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left bottom, #44474e, #36353b, #272528, #181617, #000000);
    z-index: 100;
    transition: 0.6s;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .Navbar header ul.active {
    display: flex;
  }

  .Navbar header ul li a {
    /* position: relative; */
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-size: 35px;
    transition: 0.6s;
    /* margin-left: 0; */

  }

  .Navbar .NavbarToggleMenu {
    display: flex;
    position: fixed;
    right: 20px;
    color: #fff;
    background-position: center;
    cursor: pointer;
    z-index: 101;
  }

  .Navbar header.sticky .NavbarToggleMenu {
    color: #000;
  }
}

/*  ------------------- Footer -------------------  */

.Footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  /* margin-top: 8%; */
  min-height: 100vh;
  /* background: #ede7f6; */
}

.Footer footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #111;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Footer footer .FooterContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.Footer footer .FooterContainer .FooterSection {
  margin-right: 30px;
}

.Footer footer .FooterContainer .FooterSection.AboutUs {
  width: 40%;
}

.Footer footer .FooterContainer h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

.Footer footer .FooterContainer h2:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}

.Footer footer p {
  color: #999;
}

.Footer .SocialMedia {
  margin-top: 20px;
  display: flex;
}

.Footer .SocialMedia li {
  list-style: none;
}

.Footer .SocialMedia li a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}

.Footer .SocialMedia li a:hover {
  background: #f00;
}

.Footer .QuickLinks {
  position: relative;
  width: 25%;
}

.Footer .QuickLinks ul li {
  list-style: none;
}

.Footer .QuickLinks ul li a {
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.Footer .QuickLinks ul li a:hover {
  color: #fff;
}

.Footer .Contact {
  width: calc(35% - 60px);
  margin-right: 0 !important;
}

.Footer .Contact .FooterInfo {
  position: relative;
}

.Footer .Contact .FooterInfo li {
  display: flex;
  margin-bottom: 16px;
}

.Footer .Contact .FooterInfo li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.Footer .Contact .FooterInfo li span {
  color: #999;
}

.Footer .Contact .FooterInfo li a {
  color: #999;
  text-decoration: none;
}

.Footer .Contact .FooterInfo li a:hover {
  color: #fff;
}

.Footer .FooterCopyRight {
  width: 100%;
  background: #181818;
  padding: 8px 100px;
  text-align: center;
  color: #999;
}

@media (max-width: 991px) {
  .Footer footer {
    padding: 40px;
  }

  .Footer footer .FooterContainer {
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
    flex-direction: column;
  }

  /* .Footer footer .FooterContainer {
    flex-direction: column;
  } */

  .Footer footer .FooterContainer .FooterSection {
    margin-right: 0;
    margin-bottom: 6px;
  }

  .Footer footer .FooterContainer .FooterSection.AboutUs {
    width: 100%;
  }

  .Footer .QuickLinks {
    position: relative;
    width: 100%;
  }

  .Footer .Contact {
    width: 100%;
    margin-right: 0 !important;
  }

  /* .Footer footer .FooterContainer .FooterSection.FooterSection.AboutUs,
  .QuickLinks,
  .Contact {
    width: 100%;
  } */

  .Footer .FooterCopyRight {
    padding: 8px 40px;
  }
}


/*  ------------------- Carousel Silder -------------------  */

.Carousel {
  margin-top: 8%;
  min-height: 100vh;
  position: relative;
}

.Carousel .swiper {
  width: 100%;
  height: 100%;
}

.Carousel .swiper-slide {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.Carousel .swiper-slide img {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  pointer-events: none;
}

.Carousel .swiper-slide .swiperTextContent {
  position: absolute;
  top: 25%;
  color: #fff;
  margin: 0 200px;
  transition: 0.3s ease;
  left: 0;
}

.Carousel .swiper-slide .swiperTextContent .darkLayer:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}

.Carousel .swiper-slide .swiperTextContent .swiperTextTitle {
  font-size: 3em;
  font-weight: 700;
  text-shadow: 0 5pc rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transform: translateY(-50px);
  opacity: 0;
}

.Carousel .swiper-slide-active .swiperTextContent .swiperTextTitle {
  transform: translateY(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.Carousel .swiper-slide .swiperTextContent .swiperTextTitle span {
  font-size: 0.4em;
  font-weight: 500;
}

.Carousel .swiper-slide .swiperTextContent p {
  max-width: 700px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  transform: translateX(-80px);
  opacity: 0;
}

.Carousel .swiper-slide-active .swiperTextContent p {
  transform: translateX(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.Carousel .swiper-slide .swiperTextContent .swiperContentBtn {
  border: none;
  outline: none;
  background: #fff;
  color: #000;
  font-size: 1em;
  font-weight: 500;
  padding: 8px 25px;
  display: flex;
  align-items: center;
  margin-top: 40px;
  bottom: 15px;
  border-radius: 10px;
  cursor: pointer;
  transform: translateX(50px);
  opacity: 0;
}

.Carousel .swiper-slide-active .swiperTextContent .swiperContentBtn {
  transform: translateX(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.Carousel .swiper-slide .swiperTextContent .swiperContentBtn .swiperContentBtnArrow {
  font-size: 1.6em;
  transition: 0.3s ease;
}

.Carousel .swiper-slide .swiperTextContent .swiperContentBtn:hover .swiperContentBtnArrow {
  transform: translateX(5px);
}

@media (max-width: 991px) {
  .Carousel {
    margin-top: 8%;
    max-height: 100vh;
    position: relative;
  }
  .Carousel .swiper-slide .swiperTextContent {
    margin: 0 70px 0 20px;
  }

  .Carousel .swiper-slide .swiperTextContent .swiperTextTitle {
    font-size: 2em;
  }

  .Carousel .swiper-slide .swiperTextContent .swiperTextTitle span {
    font-size: 0.45em;
  }

  .Carousel .swiper-slide .swiperTextContent p {
    font-size: 0.9em;
  }
}

/*  ------------------- Home Page -------------------  */

.Home{
  margin-top: 5%;
  margin-bottom: 5%;
}

.Home h2{
  text-align: center;
  font-size: 30px;
}

.Home .List{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.Home .swiper {
  width: 100%;
  height: 100%;
}

.Home .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.Home .swiper-slide img {
  display: block;
  width: 260px;
  height: 260px;
  object-fit: contain;
}

/*  ------------------- Home Item Card -------------------  */

.CategoryCard{
  position: relative;
  max-width: 300px;
  height: 215px;
  background: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.CategoryCard:hover{
  height: 420px;
}

.CategoryCard .CategoryCardImg{
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  
}

.CategoryCard .CategoryCardImg .CategoryCardImgSrc{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.CategoryCard .CategoryCardContent{
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.CategoryCard:hover .CategoryCardContent{
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}